output/
venv/
__pycache__/
*.py[cod]

deepseek_model/

front/node_modules/
front/dist/
front/*.log
front/*.out.log
front/*.err.log

knowledge_base/*.jsonl

# 本地项目文件 不支持上传
knowledge_docs/

*.bin
*.pt
*.safetensors
